In [26]:
import pandas as pd
#import pandas.io.data as web
from pandas_datareader import data, wb
import numpy as np

Install pandas_datareader using pip

pip install pandas_datareader

In [40]:
all_data = {}

In [41]:
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker] = data.get_data_yahoo(ticker, '1/1/2010', '1/1/2016')

In [43]:
all_data.items()

dict_items([('AAPL',                   Open        High         Low       Close   Adj Close  \
Date
2010-01-04   30.490000   30.642857   30.340000   30.572857   27.505054
2010-01-05   30.657143   30.798571   30.464285   30.625713   27.552608
2010-01-06   30.625713   30.747143   30.107143   30.138571   27.114347
2010-01-07   30.250000   30.285715   29.864286   30.082857   27.064222
2010-01-08   30.042856   30.285715   29.865715   30.282858   27.244156
2010-01-11   30.400000   30.428572   29.778572   30.015715   27.003820
2010-01-12   29.884285   29.967142   29.488571   29.674286   26.696650
2010-01-13   29.695715   30.132856   29.157143   30.092857   27.073221
2010-01-14   30.015715   30.065714   29.860001   29.918571   26.916422
2010-01-15   30.132856   30.228571   29.410000   29.418571   26.466595
2010-01-19   29.761429   30.741428   29.605715   30.719999   27.637430
2010-01-20   30.701429   30.792856   29.928572   30.247143   27.212029
2010-01-21   30.297142   30.472857   29.601429   29.724285   26.741631
2010-01-22   29.540001   29.642857   28.165714   28.250000   25.415281
2010-01-25   28.930000   29.242857   28.598572   29.010000   26.099028
2010-01-26   29.421429   30.530001   28.940001   29.420000   26.467880
2010-01-27   29.549999   30.082857   28.504286   29.697144   26.717218
2010-01-28   29.275715   29.357143   28.385714   28.469999   25.613209
2010-01-29   28.725714   28.885714   27.178572   27.437143   24.683992
2010-02-01   27.481428   28.000000   27.328571   27.818571   25.027143
2010-02-02   27.987143   28.045713   27.625713   27.980000   25.172379
2010-02-03   27.881428   28.600000   27.774286   28.461428   25.605494
2010-02-04   28.104286   28.338572   27.367144   27.435715   24.682707
2010-02-05   27.518572   28.000000   27.264286   27.922857   25.120964
2010-02-08   27.955715   28.268572   27.714285   27.731428   24.948748
2010-02-09   28.059999   28.214285   27.821428   28.027143   25.214790
2010-02-10   27.984285   28.085714   27.751429   27.874287   25.077271
2010-02-11   27.840000   28.535715   27.722857   28.381428   25.533520
2010-02-12   28.301428   28.805714   27.928572   28.625713   25.753294
2010-02-16   28.848572   29.098572   28.788572   29.057142   26.141434
...                ...         ...         ...         ...         ...
2015-11-18  115.760002  117.489998  115.500000  117.290001  113.327248
2015-11-19  117.639999  119.750000  116.760002  118.779999  114.766914
2015-11-20  119.199997  119.919998  118.849998  119.300003  115.269348
2015-11-23  119.269997  119.730003  117.339996  117.750000  113.771706
2015-11-24  117.330002  119.349998  117.120003  118.879997  114.863525
2015-11-25  119.209999  119.230003  117.919998  118.029999  114.042252
2015-11-27  118.290001  118.410004  117.599998  117.809998  113.829681
2015-11-30  117.989998  119.410004  117.750000  118.300003  114.303123
2015-12-01  118.750000  118.809998  116.860001  117.339996  113.375557
2015-12-02  117.339996  118.110001  116.080002  116.279999  112.351372
2015-12-03  116.550003  116.790001  114.220001  115.199997  111.307861
2015-12-04  115.290001  119.250000  115.110001  119.029999  115.008461
2015-12-07  118.980003  119.860001  117.809998  118.279999  114.283798
2015-12-08  117.519997  118.599998  116.860001  118.230003  114.235489
2015-12-09  117.639999  117.690002  115.080002  115.620003  111.713676
2015-12-10  116.040001  116.940002  115.510002  116.169998  112.245087
2015-12-11  115.190002  115.389999  112.849998  113.180000  109.356125
2015-12-14  112.180000  112.680000  109.790001  112.480003  108.679771
2015-12-15  111.940002  112.800003  110.349998  110.489998  106.756989
2015-12-16  111.070000  111.989998  108.800003  111.339996  107.578270
2015-12-17  112.019997  112.250000  108.980003  108.980003  105.298019
2015-12-18  108.910004  109.519997  105.809998  106.029999  102.447670
2015-12-21  107.279999  107.370003  105.570000  107.330002  103.703766
2015-12-22  107.400002  107.720001  106.449997  107.230003  103.607155
2015-12-23  107.269997  108.849998  107.199997  108.610001  104.940506
2015-12-24  109.000000  109.000000  107.949997  108.029999  104.380112
2015-12-28  107.589996  107.690002  106.180000  106.820000  103.210999
2015-12-29  106.959999  109.430000  106.860001  108.739998  105.066116
2015-12-30  108.580002  108.699997  107.180000  107.320000  103.694107
2015-12-31  107.010002  107.029999  104.820000  105.260002  101.703697

               Volume
Date
2010-01-04  123432400
2010-01-05  150476200
2010-01-06  138040000
2010-01-07  119282800
2010-01-08  111902700
2010-01-11  115557400
2010-01-12  148614900
2010-01-13  151473000
2010-01-14  108223500
2010-01-15  148516900
2010-01-19  182501900
2010-01-20  153038200
2010-01-21  152038600
2010-01-22  220441900
2010-01-25  266424900
2010-01-26  466777500
2010-01-27  430642100
2010-01-28  293375600
2010-01-29  311488100
2010-02-01  187469100
2010-02-02  174585600
2010-02-03  153832000
2010-02-04  189413000
2010-02-05  212576700
2010-02-08  119567700
2010-02-09  158221700
2010-02-10   92590400
2010-02-11  137586400
2010-02-12  163867200
2010-02-16  135934400
...               ...
2015-11-18   46674700
2015-11-19   43295800
2015-11-20   34287100
2015-11-23   32482500
2015-11-24   42803200
2015-11-25   21388300
2015-11-27   13046400
2015-11-30   39180300
2015-12-01   34852400
2015-12-02   33386600
2015-12-03   41569500
2015-12-04   57777000
2015-12-07   32084200
2015-12-08   34309500
2015-12-09   46361400
2015-12-10   29104200
2015-12-11   46886200
2015-12-14   64318700
2015-12-15   53323100
2015-12-16   56238500
2015-12-17   44772800
2015-12-18   96453300
2015-12-21   47590600
2015-12-22   32789400
2015-12-23   32657400
2015-12-24   13570400
2015-12-28   26704200
2015-12-29   30931200
2015-12-30   25213800
2015-12-31   40635300

[1510 rows x 6 columns]), ('IBM',                   Open        High         Low       Close   Adj Close  \
Date
2010-01-04  131.179993  132.970001  130.850006  132.449997  109.173752
2010-01-05  131.679993  131.850006  130.100006  130.850006  107.854950
2010-01-06  130.679993  131.490005  129.809998  130.000000  107.154320
2010-01-07  129.869995  130.250000  128.910004  129.550003  106.783417
2010-01-08  129.070007  130.919998  129.050003  130.850006  107.854950
2010-01-11  131.059998  131.059998  128.669998  129.479996  106.725700
2010-01-12  129.029999  131.330002  129.000000  130.509995  107.574692
2010-01-13  130.389999  131.119995  129.160004  130.229996  107.343887
2010-01-14  130.550003  132.710007  129.910004  132.309998  109.058350
2010-01-15  132.029999  132.889999  131.089996  131.779999  108.621490
2010-01-19  131.630005  134.250000  131.559998  134.139999  110.566757
2010-01-20  130.460007  131.149994  128.949997  130.250000  107.360382
2010-01-21  130.470001  130.690002  128.059998  129.000000  106.330040
2010-01-22  128.669998  128.889999  125.370003  125.500000  103.445122
2010-01-25  126.330002  126.889999  125.709999  126.120003  103.956169
2010-01-26  125.919998  127.750000  125.410004  125.750000  103.651207
2010-01-27  125.820000  126.959999  125.040001  126.330002  104.129272
2010-01-28  127.029999  127.040001  123.050003  123.750000  102.002670
2010-01-29  124.320000  125.000000  121.900002  122.389999  100.881660
2010-02-01  123.230003  124.949997  122.779999  124.669998  102.760971
2010-02-02  124.790001  125.809998  123.949997  125.529999  103.469849
2010-02-03  125.160004  126.070000  125.070000  125.660004  103.577019
2010-02-04  125.190002  125.440002  122.900002  123.000000  101.384453
2010-02-05  123.040001  123.720001  121.830002  123.519997  101.813095
2010-02-08  123.150002  123.220001  121.739998  121.879997  100.910622
2010-02-09  122.650002  124.199997  122.459999  123.209999  102.011803
2010-02-10  122.940002  123.650002  122.209999  122.809998  101.680611
2010-02-11  122.580002  124.199997  122.059998  123.730003  102.442314
2010-02-12  123.010002  124.050003  121.610001  124.000000  102.665886
2010-02-16  124.910004  125.230003  124.110001  125.230003  103.684265
...                ...         ...         ...         ...         ...
2015-11-18  134.789993  135.910004  134.259995  135.820007  127.208244
2015-11-19  136.210007  137.740005  136.009995  136.740005  128.069901
2015-11-20  137.369995  138.919998  137.250000  138.500000  129.718307
2015-11-23  138.529999  138.869995  137.119995  138.460007  129.680847
2015-11-24  137.649994  139.339996  137.309998  138.600006  129.811981
2015-11-25  138.369995  138.429993  137.380005  138.000000  129.250031
2015-11-27  138.000000  138.809998  137.210007  138.460007  129.680847
2015-11-30  138.610001  139.899994  138.520004  139.419998  130.579987
2015-12-01  139.580002  141.399994  139.580002  141.279999  132.322052
2015-12-02  140.929993  141.210007  139.500000  139.699997  130.842224
2015-12-03  140.100006  140.729996  138.190002  138.919998  130.111679
2015-12-04  138.089996  141.020004  137.990005  140.429993  131.525940
2015-12-07  140.160004  140.410004  138.809998  139.550003  130.701721
2015-12-08  138.279999  139.059998  137.529999  138.050003  129.296829
2015-12-09  137.380005  139.839996  136.229996  136.610001  127.948158
2015-12-10  137.029999  137.850006  135.720001  136.779999  128.107361
2015-12-11  135.229996  135.440002  133.910004  134.570007  126.037491
2015-12-14  135.309998  136.139999  134.020004  135.929993  127.311256
2015-12-15  137.399994  138.970001  137.279999  137.789993  129.053345
2015-12-16  139.119995  139.649994  137.789993  139.289993  130.458221
2015-12-17  139.350006  139.500000  136.309998  136.750000  128.079269
2015-12-18  136.410004  136.960007  134.270004  134.899994  126.346573
2015-12-21  135.830002  135.830002  134.020004  135.500000  126.908539
2015-12-22  135.880005  138.190002  135.649994  137.929993  129.184464
2015-12-23  138.300003  139.309998  138.110001  138.539993  129.755783
2015-12-24  138.429993  138.880005  138.110001  138.250000  129.484161
2015-12-28  137.740005  138.039993  136.539993  137.610001  128.884750
2015-12-29  138.250000  140.059998  138.199997  139.779999  130.917160
2015-12-30  139.580002  140.440002  139.220001  139.339996  130.505066
2015-12-31  139.070007  139.100006  137.570007  137.619995  128.894089

              Volume
Date
2010-01-04   6155300
2010-01-05   6841400
2010-01-06   5605300
2010-01-07   5840600
2010-01-08   4197200
2010-01-11   5730400
2010-01-12   8081500
2010-01-13   6455400
2010-01-14   7111800
2010-01-15   8494400
2010-01-19  13916200
2010-01-20  15197500
2010-01-21   9608600
2010-01-22  10088600
2010-01-25   5738500
2010-01-26   7135300
2010-01-27   8719200
2010-01-28   9622200
2010-01-29  11571200
2010-02-01   7242900
2010-02-02   5899900
2010-02-03   4177100
2010-02-04   9126900
2010-02-05   8617000
2010-02-08   5718500
2010-02-09   6044500
2010-02-10   5219100
2010-02-11   5089000
2010-02-12   8017700
2010-02-16   6777300
...              ...
2015-11-18   4149200
2015-11-19   4753600
2015-11-20   5176400
2015-11-23   5137900
2015-11-24   3407700
2015-11-25   3238200
2015-11-27   1415800
2015-11-30   4545600
2015-12-01   4195100
2015-12-02   3725400
2015-12-03   5909600
2015-12-04   4571600
2015-12-07   3279400
2015-12-08   3905200
2015-12-09   4615000
2015-12-10   4754800
2015-12-11   5333800
2015-12-14   5143800
2015-12-15   4238500
2015-12-16   4345500
2015-12-17   4089500
2015-12-18  10026100
2015-12-21   5617500
2015-12-22   4263800
2015-12-23   5164900
2015-12-24   1495200
2015-12-28   3143400
2015-12-29   3943700
2015-12-30   2989400
2015-12-31   3443300

[1510 rows x 6 columns]), ('MSFT',                  Open       High        Low      Close  Adj Close     Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  25.409840   38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  25.418049   49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  25.262056   58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  24.999338   50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  25.171749   51197400
2010-01-11  30.709999  30.760000  30.120001  30.270000  24.851563   68754700
2010-01-12  30.150000  30.400000  29.910000  30.070000  24.687365   65912100
2010-01-13  30.260000  30.520000  30.010000  30.350000  24.917242   51863500
2010-01-14  30.309999  31.100000  30.260000  30.959999  25.418049   63228100
2010-01-15  31.080000  31.240000  30.709999  30.860001  25.335951   79913200
2010-01-19  30.750000  31.240000  30.680000  31.100000  25.532986   46575700
2010-01-20  30.809999  30.940001  30.309999  30.590000  25.114279   54849500
2010-01-21  30.610001  30.719999  30.000000  30.010000  24.638102   73086700
2010-01-22  30.000000  30.200001  28.840000  28.959999  23.776051  102004600
2010-01-25  29.240000  29.660000  29.100000  29.320000  24.071613   63373000
2010-01-26  29.200001  29.850000  29.090000  29.500000  24.219395   66639900
2010-01-27  29.350000  29.820000  29.020000  29.670000  24.358967   63949500
2010-01-28  29.840000  29.870001  28.889999  29.160000  23.940254  117513700
2010-01-29  29.900000  29.920000  27.660000  28.180000  23.135681  193888500
2010-02-01  28.389999  28.480000  27.920000  28.410000  23.324503   85931100
2010-02-02  28.370001  28.500000  28.139999  28.459999  23.365559   54413700
2010-02-03  28.260000  28.790001  28.120001  28.629999  23.505129   61397900
2010-02-04  28.379999  28.500000  27.809999  27.840000  22.856541   77850000
2010-02-05  28.000000  28.280001  27.570000  28.020000  23.004322   80960100
2010-02-08  28.010000  28.080000  27.570000  27.719999  22.758018   52820600
2010-02-09  27.969999  28.340000  27.750000  28.010000  22.996111   59195800
2010-02-10  28.030001  28.240000  27.840000  27.990000  22.979691   48591300
2010-02-11  27.930000  28.400000  27.700001  28.120001  23.086420   65993700
2010-02-12  27.809999  28.059999  27.580000  27.930000  22.930431   81117200
2010-02-16  28.129999  28.370001  28.020000  28.350000  23.384092   51935600
...               ...        ...        ...        ...        ...        ...
2015-11-18  53.000000  53.980000  52.980000  53.849998  51.799068   29710000
2015-11-19  53.990002  54.660000  53.779999  53.939999  51.885639   28149200
2015-11-20  54.250000  54.299999  53.270000  54.189999  52.126118   37147600
2015-11-23  54.250000  54.459999  53.750000  54.189999  52.126118   28235900
2015-11-24  53.919998  54.439999  53.580002  54.250000  52.183838   24600000
2015-11-25  54.090000  54.230000  53.689999  53.689999  51.645161   21005100
2015-11-27  53.799999  54.080002  53.790001  53.930000  51.876019    9009100
2015-11-30  54.540001  54.959999  54.000000  54.349998  52.280025   56241400
2015-12-01  54.410000  55.230000  54.299999  55.220001  53.116894   39952800
2015-12-02  55.320000  55.959999  55.060001  55.209999  53.107269   47274900
2015-12-03  55.490002  55.770000  53.930000  54.200001  52.135738   38627800
2015-12-04  54.119999  56.230000  54.099998  55.910000  53.780613   43963700
2015-12-07  55.790001  55.970001  55.290001  55.810001  53.684422   30709800
2015-12-08  55.470001  56.099998  54.990002  55.790001  53.665180   32878000
2015-12-09  55.369999  55.869999  54.509998  54.980000  52.886032   36373200
2015-12-10  55.389999  55.660000  55.009998  55.270000  53.164989   31620700
2015-12-11  54.709999  55.099998  54.009998  54.060001  52.001068   39549500
2015-12-14  54.330002  55.209999  53.680000  55.139999  53.039936   46768900
2015-12-15  55.660000  55.900002  55.090000  55.200001  53.097656   39843000
2015-12-16  55.540001  56.250000  54.759998  56.130001  53.992233   37503300
2015-12-17  56.360001  56.790001  55.529999  55.700001  53.578613   41280900
2015-12-18  55.770000  56.000000  54.029999  54.130001  52.068409   84684200
2015-12-21  54.880001  55.349998  54.230000  54.830002  52.741745   37246300
2015-12-22  54.990002  55.480000  54.500000  55.349998  53.241940   28322200
2015-12-23  55.700001  55.880001  55.439999  55.820000  53.694042   27279800
2015-12-24  55.860001  55.959999  55.430000  55.669998  53.549747    9558500
2015-12-28  55.349998  55.950001  54.980000  55.950001  53.819092   22458300
2015-12-29  56.290001  56.849998  56.060001  56.549999  54.396236   27731400
2015-12-30  56.470001  56.779999  56.290001  56.310001  54.165379   21704500
2015-12-31  56.040001  56.189999  55.419998  55.480000  53.366989   26529600

[1510 rows x 6 columns]), ('GOOG',                   Open        High         Low       Close   Adj Close  \
Date
2010-01-04  312.304413  313.579620  310.954468  312.204773  312.204773
2010-01-05  312.418976  312.747742  309.609497  310.829926  310.829926
2010-01-06  311.761444  311.761444  302.047852  302.994293  302.994293
2010-01-07  303.562164  303.861053  295.218445  295.940735  295.940735
2010-01-08  294.894653  300.498657  293.455048  299.885956  299.885956
2010-01-11  301.101410  301.101410  295.910858  299.432648  299.432648
2010-01-12  297.709106  297.963165  292.902130  294.137512  294.137512
2010-01-13  287.168610  293.091431  285.878448  292.448822  292.448822
2010-01-14  290.859772  295.990540  290.316833  293.823669  293.823669
2010-01-15  295.562164  295.671753  287.940735  288.917053  288.917053
2010-01-19  289.514832  294.107605  287.069000  292.712830  292.712830
2010-01-20  291.895905  291.895905  286.570862  289.121307  289.121307
2010-01-21  290.630646  292.314331  285.056549  290.401489  290.401489
2010-01-22  281.196014  284.234619  266.431335  273.978058  273.978058
2010-01-25  272.274445  273.913300  266.755127  268.991760  268.991760
2010-01-26  267.980530  273.773834  267.143677  270.197235  270.197235
2010-01-27  269.624390  272.802460  266.655518  270.037842  270.037842
2010-01-28  271.228363  272.478668  264.309296  266.147400  266.147400
2010-01-29  268.239563  269.484894  261.823608  263.980530  263.980530
2010-02-01  266.301849  266.904572  264.159851  265.514771  265.514771
2010-02-02  266.481171  266.481171  262.819885  264.568329  264.568329
2010-02-03  263.347900  270.037842  263.128723  269.400208  269.400208
2010-02-04  267.497345  267.995483  261.798706  262.406433  262.406433
2010-02-05  263.213409  265.753876  260.254517  264.653015  264.653015
2010-02-08  265.255768  269.988007  264.772552  265.738953  265.738953
2010-02-09  268.762604  269.753906  266.535950  267.218414  267.218414
2010-02-10  266.037811  267.890869  262.859741  266.227112  266.227112
2010-02-11  265.664215  269.235840  263.761353  267.198486  267.198486
2010-02-12  265.489868  267.572083  264.259491  265.564606  265.564606
2010-02-16  267.432587  271.049042  266.152405  269.639313  269.639313
...                ...         ...         ...         ...         ...
2015-11-18  727.580017  741.409973  727.000000  740.000000  740.000000
2015-11-19  738.739990  742.000000  737.429993  738.409973  738.409973
2015-11-20  746.530029  757.919983  743.000000  756.599976  756.599976
2015-11-23  757.450012  762.708008  751.820007  755.979980  755.979980
2015-11-24  752.000000  755.278992  737.630005  748.280029  748.280029
2015-11-25  748.140015  752.000000  746.059998  748.150024  748.150024
2015-11-27  748.460022  753.409973  747.489990  750.260010  750.260010
2015-11-30  748.809998  754.929993  741.270020  742.599976  742.599976
2015-12-01  747.109985  768.950012  746.700012  767.039978  767.039978
2015-12-02  768.900024  775.955017  758.960022  762.380005  762.380005
2015-12-03  766.010010  768.994995  745.630005  752.539978  752.539978
2015-12-04  753.099976  768.489990  750.000000  766.809998  766.809998
2015-12-07  767.770020  768.729980  755.090027  763.250000  763.250000
2015-12-08  757.890015  764.799988  754.200012  762.369995  762.369995
2015-12-09  759.169983  764.229980  737.000977  751.609985  751.609985
2015-12-10  752.849976  755.849976  743.830017  749.460022  749.460022
2015-12-11  741.159973  745.710022  736.750000  738.869995  738.869995
2015-12-14  741.789978  748.729980  724.169983  747.770020  747.770020

In [44]:
price = pd.DataFrame({tic: data['Adj Close']
                  for tic, data in all_data.items()})

In [46]:
volume = pd.DataFrame({tic: data['Volume']
                  for tic, data in all_data.items()})

In [47]:
returns = price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2015-12-24 -0.005340 -0.002546 -0.002093 -0.002687
2015-12-28 -0.011201  0.018854 -0.004629  0.005030
2015-12-29  0.017974  0.018478  0.015769  0.010724
2015-12-30 -0.013059 -0.007211 -0.003148 -0.004244
2015-12-31 -0.019195 -0.015720 -0.012344 -0.014740

In [48]:
### The corr method of Series computes the correlation of the overlapping, non-NA-aligned-by-index values in two Series

returns.MSFT.corr(returns.IBM)

0.50802347000884251

In [49]:
### Relatedly cov computes the covariance

returns.MSFT.cov(returns.IBM)

8.9031417647423571e-05

In [50]:
### DataFrame's corr and cov methods return a full correlation or covariance matrix as a DataFrame

returns.corr()

          AAPL      GOOG       IBM      MSFT
AAPL  1.000000  0.405145  0.397795  0.379406
GOOG  0.405145  1.000000  0.413370  0.444485
IBM   0.397795  0.413370  1.000000  0.508023
MSFT  0.379406  0.444485  0.508023  1.000000

In [51]:
returns.cov()

          AAPL      GOOG       IBM      MSFT
AAPL  0.000282  0.000110  0.000080  0.000093
GOOG  0.000110  0.000263  0.000080  0.000105
IBM   0.000080  0.000080  0.000143  0.000089
MSFT  0.000093  0.000105  0.000089  0.000214

In [54]:
### Using DF's corrwith method, you can compute pairwise correlations between a DF's columns or rows with another Series of DF
### Passing a Series returns a Series with the correlation value computed for each column

Take correlation only with IBM data

In [53]:
returns.corrwith(returns.IBM)

AAPL    0.397795
GOOG    0.413370
IBM     1.000000
MSFT    0.508023
dtype: float64

In [55]:
returns.corrwith(volume)

AAPL   -0.082513
GOOG   -0.000205
IBM    -0.202006
MSFT   -0.082924
dtype: float64

In [20]:
### Passing axis = 1 does things row-wise instead. In all the cases, the data points are aligned by label before computing
### the correlation