In [2]:
import pandas as pd

In [3]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 5889-7B5D

 Directory of C:\Users\vivek\Documents\GitHub\Python-Workshop\Numpy and Pandas\Pandas

08/13/2017  10:50 PM    <DIR>          .
08/13/2017  10:50 PM    <DIR>          ..
08/13/2017  10:50 PM    <DIR>          .ipynb_checkpoints
08/13/2017  08:18 PM            75,548 Arithmetic and Data Alignment.ipynb
08/13/2017  08:24 PM            22,995 Column Operations.ipynb
08/13/2017  09:09 PM            41,104 Correlation and Covariance.ipynb
08/13/2017  10:50 PM                72 csv.ipynb
08/13/2017  10:48 PM                50 data.txt
08/13/2017  09:29 PM            60,699 DataFrame Indexing,Selection & Filtering.ipynb
08/13/2017  10:05 PM            14,325 Descriptive Statistics in Pandas.ipynb
08/13/2017  09:35 PM            14,363 Function Pipeline in Pandas.ipynb
08/13/2017  10:04 PM            46,815 Handing Missing Data.ipynb
08/13/2017  10:28 PM            47,243 Hierarchial Indexing.ipynb
08/13/2017  10:44 PM             8,278 Histogram Example.ipynb
08/13/2017  10:46 PM             6,631 Pandas Series.ipynb
08/13/2017  10:47 PM            36,237 Reordering and Sorting Levels.ipynb
08/13/2017  07:38 PM            29,346 Sorting and Ranking.ipynb
08/13/2017  10:05 PM             3,592 Sorting Operations.ipynb
              15 File(s)        407,298 bytes
               3 Dir(s)  456,779,718,656 bytes free

In [4]:
pd.read_csv('data.txt')

    Name   age      sex
0    Bob    20     Male
1  Alice    21   Female

In [5]:
data=pd.read_csv('data.txt')

In [6]:
data

    Name   age      sex
0    Bob    20     Male
1  Alice    21   Female

In [16]:
data.to_csv('data_tmp.txt')

In [17]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 5889-7B5D

 Directory of C:\Users\vivek\Documents\GitHub\Python-Workshop\Numpy and Pandas\Pandas

08/13/2017  10:52 PM    <DIR>          .
08/13/2017  10:52 PM    <DIR>          ..
08/13/2017  10:50 PM    <DIR>          .ipynb_checkpoints
08/13/2017  08:18 PM            75,548 Arithmetic and Data Alignment.ipynb
08/13/2017  08:24 PM            22,995 Column Operations.ipynb
08/13/2017  09:09 PM            41,104 Correlation and Covariance.ipynb
08/13/2017  10:52 PM             8,259 csv.ipynb
08/13/2017  10:48 PM                50 data.txt
08/13/2017  10:53 PM                53 data_tmp.txt
08/13/2017  09:29 PM            60,699 DataFrame Indexing,Selection & Filtering.ipynb
08/13/2017  10:05 PM            14,325 Descriptive Statistics in Pandas.ipynb
08/13/2017  09:35 PM            14,363 Function Pipeline in Pandas.ipynb
08/13/2017  10:04 PM            46,815 Handing Missing Data.ipynb
08/13/2017  10:28 PM            47,243 Hierarchial Indexing.ipynb
08/13/2017  10:44 PM             8,278 Histogram Example.ipynb
08/13/2017  10:46 PM             6,631 Pandas Series.ipynb
08/13/2017  10:47 PM            36,237 Reordering and Sorting Levels.ipynb
08/13/2017  07:38 PM            29,346 Sorting and Ranking.ipynb
08/13/2017  10:05 PM             3,592 Sorting Operations.ipynb
              16 File(s)        415,538 bytes
               3 Dir(s)  456,779,673,600 bytes free

In [ ]:
# %load data_tmp.txt
,Name, age, sex
0,Bob,20, Male
1,Alice,21, Female

write csv file without index

In [21]:
data.to_csv('data_tmp.txt',index=False)

In [ ]:
# %load data_tmp.txt
Name, age, sex
Bob,20, Male
Alice,21, Female